<!DOCTYPE html>
<html>
<head>
  <title>Admin Layout</title>
    <%= stylesheet_link_tag 'admin' %>
    <%= stylesheet_link_tag 'posts'
    <%= stylesheet_link_tag 'bootstrap-addon' %>
    <%= stylesheet_link_tag 'jquery-addon' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
